.cover {
    display: flex;
    padding-top: 60px;
}

.apresentacao {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    box-sizing: border-box;
    padding: 0 100px 0 150px ;
}

.titulo {
    font-size: 3.25rem;
    font-weight: bold;
    margin-top: 60px;
}

.subtitulo {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    font-size: 1.125rem;
    font-weight: 400;
}

.tag {
    margin-right: 26px;
}

.tag_proximo::before {
    content: "/";
    margin-right: 26px;
}

.bio {
    margin-top: 24px;
    color: var(--cinza);
    line-height: 1.5rem;
}

.btn_next {
    margin-top: 24px;
    background: var(--amarelo);
    font-size: 1rem;
    font-weight: 400;
    color: var(--branco);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.profile {
    position: relative;
    max-width: 40vw;
    box-sizing: border-box;
}

.profile_img {
    position: absolute;
    border-radius: 50%;
    border: 10px solid var(--amarelo);
    z-index: 100;
}

.circulo_top {
    height: 342px;
    width: 372px;
    background-color: var(--dark2);
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: -25px;
}

.circulo_botton {
    height: 217px;
    width: 237px;
    background-color: var(--dark2);
    border-radius: 50%;
    position: absolute;
    bottom: -220px;
    left: 20px;
}